.card {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem !important;

  &__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-sizing: border-box;


    &--description {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }

    &--picture--box {
      height: 225px;
      width: 100%;
      display: block;
      border-top-left-radius: calc(.25rem - 1px);
      border-top-right-radius: calc(.25rem - 1px);
    }


    &--picture {
      border-style: none;
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}