.header {
  display: inline-block;
  width: 100%;
  background-color: $color-grey-light-1;
  box-shadow: 0 0rem 1.5rem rgba($color-black, 0.4);

  &__logo-box {
    text-align: center;
    margin: 2rem;
    margin-top: 1rem;
  }

  &__logo {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
  }

  &__link-box {
    display: inline-block;
    width: 100%;
    text-align: center;
  }


  &__link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 2rem 2rem;
    color: $color-black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;

    @include respond(phone) {
      display: block;
      padding: 1rem;
      font-size: 1rem;
    }

    &:hover,
    &:active {
      color: $color-primary;

    }

  }


}