*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respondMB(phone-mini) {
    font-size: 75%;
  }

  @include respondMB(phone) {
    font-size: 88%;
  }



  @include respondMB(big-desktop) {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}