body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include respondMB(phone) {
    max-width: $grid-width-p;
  }

  @include respondMB(tab-port) {
    max-width: $grid-width-tp;
  }

  @include respondMB(tab-land) {
    max-width: $grid-width-tl;
  }

  @include respondMB(big-desktop) {
    max-width: $grid-width;
  }

}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    /* animation-delay: 3s; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  }
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;


  letter-spacing: 0.2rem;
  transition: all 0.2s;


}

.heading-tertiary {
  color: $color-white;
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

}

.paragraph {
  color: $color-white;
  font-size: 1.3rem;




}