.section-login {

  background-color: $color-grey-light-1;

  height: auto;
  margin: 0 auto;
  padding: 2rem;

  @include respondMB(phone-mini) {
    width: 500px;
  }

  @include respondMB(tab-port) {
   width: 600px;
  }
}

.section-login-outer{
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-content: space-around;
  align-items: center;
  box-sizing: border-box;
  contain: content;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  min-height: 340px;
  padding-bottom: 60px;
  padding-top: 60px;
  width: 100%;
  position: fixed;
}